@media (min-width: 300px) {
    .icone_perfil {
        display: none;
    }

    .botao_logout {
        display: block;
    }
  }
  @media (min-width: 768px) {
    .icone_perfil {
        display: block;
    }

    .botao_logout {
        display: none;
    }
  }